.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-transform: capitalize;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      & p {
        font-weight: 400;
        color: $text-color-grey;
      }
    }
    &__right {
      & .icon {
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-pink;

        border-radius: 50%;
        & svg {
          font-size: 3rem;
          color: $bg-pink;
        }
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    & p {
      & span {
        font-weight: 400;
        color: $text-color-grey;
      }
    }
    &__btn {
      text-transform: uppercase;
      font-weight: 600;
      color: $text-color-grey;
      padding: 3px 10px;
      border-radius: 5px;
      border: 1px solid $text-color-grey;
    }
  }
  &__chart {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    &__spent {
      background-color: $bg-pink;
      height: 10px;
    }
    &__available {
      height: 10px;
      background-color: $green;
    }
    &__description {
      padding-top: 20px;
      &__spent {
        & span {
          background-color: $bg-pink;
        }
      }
      &__available {
        & span {
          background-color: $green;
        }
      }
      &__spent,
      &__available {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__heading {
          display: flex;
          align-items: center;
          gap: 20px;

          & span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
          }
          & div {
            font-weight: 400;
          }
        }
      }
    }
  }
}
